<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kueiweiss.stu.mypaypal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/belze_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/belze_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".PaymentDetails" />
        <activity android:name=".Config.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>